# Ignore Python files
__pycache__/
*.py[cod]

# Ignore Node.js dependencies
node_modules/

# Ignore environment variables
.env

# Ignore SQLite DB or logs if any
*.db
*.log
*.sql

package-lock.json
windows-app/data_wrangler
windows-app/detect-tests
windows-app/experiments
windows-app/updated_rendere.js